<%- include('../partial/header');  %>
<body>
    <%- include('../partial/navBar');  %>
    <div class="flex items-center flex-col justify-center m-auto mt-10 shadow-xl/30 ... pb-5">
        <h1 class="text-3xl font-bold text-green-600 mb-4">Home Added Successfully!</h1>
        <a href="/" class="px-4 py-2 bg-orange-500 text-white rounded-md hover:bg-orange-600 transition duration-300">Return Home</a>
    </div>
</body>
</html>